body{
    background-image: linear-gradient(45deg, black, rgb(17, 37, 102));
    height: 97.8vh;
    font-family: poppinsregular;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;

    align-items: center;
    margin: 15px;
}
h1{
    max-height: 15px;
    color: #ffffff;
    margin-left: 15px;
}
span{
    color: #393E46;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    color: #ffffff;
}
p{
    font-family: poppinssemibold;
    color:#393E46;
}
a{
    font-family: poppinssemibold;
    color:#393E46;
    align-self: center;
}
a:hover{
    color: #ffffff;
    transition: all 0.8s;
}
#social-midias{
    display: flex;
    flex-direction: row;
}
img{
    max-width: 30px;
    margin: 15px;
}
main{
    margin-top: 150px;
}


